@media (min-width: 768px) and (max-width: 1023px) {
  header {
    padding: 0 16px; }
    header .logo {
      max-width: 33px;
      margin-top: 3px; }
    header .logo-text {
      font-size: 23px;
      line-height: 1.8; }
    header .fa-bars {
      font-size: 20px; }

  .banner {
    min-height: 610px;
    padding-top: 20px; }

  .logos-section .row-logo .left-logo-holder {
    float: none;
    margin: 0 auto; }
  .logos-section .row-logo .right-logo-holder {
    float: none;
    margin: 0 auto; }
  .logos-section .row-logo a {
    padding: 25px 5px; }

  .white-frange {
    padding: 0 0 80px 0; }
    .white-frange h1 {
      font-size: 45px; } }
