.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px; }

header {
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  background-color: #fff;
  z-index: 1; }

.logo {
  max-width: 50px;
  float: left;
  padding: 0; }

.logo-text {
  font-family: "Montserrat",sans-serif;
  font-size: 26px;
  letter-spacing: -2.2px;
  line-height: 1.9;
  margin-left: 5px;
  color: #f68b1f !important;
  font-weight: 700;
  margin-right: 25px;
  float: left;
  padding: 0; }

nav {
  float: left; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      display: inline-block;
      padding: 0px 15px;
      color: #474747 !important;
      font-family: "Montserrat",sans-serif;
      font-size: 15px;
      letter-spacing: -1.5px;
      line-height: 50px;
      text-transform: uppercase; }

.banner {
  background-image: url("../images/bigbanner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  padding-top: 80px;
  color: #fff;
  text-align: center; }
  .banner.bg2 {
    background-image: url("../images/Depositphotos_60069873_original_mini.jpg"); }
  .banner h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 71px;
    letter-spacing: -2px;
    text-transform: uppercase;
    margin-bottom: 0; }
  .banner h3 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif; }
  .banner p {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 18px; }
  .banner form input {
    width: 235px;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block; }
  .banner .form-group {
    display: inline-block; }
  .banner .play {
    color: #ccc;
    font-size: 26px; }
    .banner .play:hover {
      text-decoration: none;
      color: #fff; }
  .banner .fa-play {
    background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
    border: 3px solid #ccc;
    border-radius: 50%;
    padding: 10px 10px 10px 15px;
    width: 50px;
    margin-right: 12px; }
    .banner .fa-play:hover {
      text-decoration: none;
      color: #fff; }

.pull-right {
  float: right; }

.grayBG {
  background-color: #292929; }
  .grayBG a {
    color: #eee !important;
    font-family: "Montserrat",sans-serif !important;
    font-size: 16px !important; }

.logos-section {
  min-height: 100px;
  padding: 50px 0px;
  text-align: center; }

h5 {
  font-family: "Montserrat",sans-serif;
  font-size: 23px;
  color: #fff; }

.logo-holder img {
  width: 85% !important;
  max-width: 100px !important;
  margin: 0 auto !important; }

.vertical-center {
  display: flex;
  align-items: center; }

.bannerbox {
  font-family: "Montserrat",sans-serif;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center; }

.h1-second {
  font-family: "Montserrat",sans-serif;
  font-size: 50px;
  letter-spacing: -2px;
  color: #ccc; }

.center {
  text-align: center;
  margin: 0 auto; }

.inline {
  list-style: none;
  padding: 0;
  margin: 0; }
  .inline li {
    display: inline-block;
    padding: 10px 20px; }
    .inline li a:hover {
      text-decoration: none; }
    .inline li.active {
      border-bottom: 5px solid orange; }
    .inline li:hover {
      border-bottom: 5px solid orange; }

.triangulo_inf {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #292929;
  margin: 0 auto; }

#sticky.stick {
  margin-top: 0 !important;
  position: fixed;
  top: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em; }

footer {
  background-color: #333;
  color: #eee;
  text-align: center; }

.add-bottomM-25 {
  margin-bottom: 25px; }

.add-topP-30 {
  padding-top: 30px; }

.add-bottomM-50 {
  margin-bottom: 50px !important; }
