@media (min-width: 320px) and (max-width: 479px) {
	header {
		padding: 0;
		border-bottom: 0;
		
		.navbar {
			padding: 0 1rem;
		}
		
		.navbar-light {
			background-color: #FFFFFF;
		}
		
		.collapse, .collapsing {
			.p-a-1 {
				padding: 0.2rem 0.8rem !important;
			}
			
			li {
				list-style: none;
				padding-left: 14px;
				margin-bottom: 11px;
				
				a {
					color: #292929;
					font-size: 15px;
					font-weight: 400;
					font-family: 'Montserrat', sans-serif;
					text-align: left;
					text-transform: uppercase;
					letter-spacing: normal;
					text-decoration: none;
					padding: 0;
					display: inline-block;
					width: 100%;
					
					&:hover {
						color: orange;
					}
					
					&.pos-1 {
						margin-left: -1px;
					}
					
					&.link-s2 {
						text-transform: capitalize;
					}
				}
				
				.pos-2 {
					margin-left: -4px;
				}
			}
			
			ul {
				padding: 0;
				list-style: none;
				margin-bottom: 0.6rem;
				padding-left: 13px;
				
				li {
					padding-left: 0;
					a {
						color: #292929;
						font-size: 15px;
						font-weight: 400;
						font-family: 'Montserrat', sans-serif;
						text-align: left;
						text-transform: uppercase;
						letter-spacing: normal;
						text-decoration: none;
						display: inline-block;
						width: 100%;
						
						&:hover {
							color: orange;
						}
					}
					
					ul {
						padding-left: 10px;
						
						ul {
							padding-left: 20px;
						}
					}
				}
			}
			
			.btns {
				text-align: left;
				padding: 0px 27px 20px 27px;
				
				.orange {
					margin-right: 10px;
				}
			}
		}
		
		.logo {
			max-width: 33px;
			margin-top: 3px;
		}
		
		.logo-text {
			font-size: 23px;
			line-height: 1.8;
		}
		
		.fa-bars {
			font-size: 20px;
		}
		
		.Jnav {
			top: 41px;
			
			nav {
				ul {
					padding: 0 12px;
					li {
						text-align: left;
						border-bottom: 0;	
					}
				}
			}
		}
	}
	
	.banner {
		
		h1 {
			font-size: 28px;
		}
		
		h3 {
			font-size: 16px;
			margin-top: 0;
		}
		
		p {
			font-size: 13px;
			margin-top: 10px;
		}
	}
	
	.logos-section {
		padding: 26px 0px 14px;
		.wrapper {
			padding: 0;
			
			h5 {
				padding: 0 20px;
			} 
		}
		 
		.text-logos {
			font-size: 13px;
			line-height: normal;
		}
		
		.row-logo a {
			padding: 25px 5px;
		}
	}
	
	.white-frange {
		padding: 0 0 26px 0;
		
		.triangulo_inf {
			margin-bottom: 20px;
		}
	}
	
	#sticky-wrapper {
		height: 110px;
	}
	
	.grayBG {
		.wrapper {
			padding: 0;
		}
		
		h1 {
			font-size: 30px;
		}
		
		ul {
			li {
				a {
					font-size: 13px;
					font-weight: 700;
				}
			}
		}
	}
	
	.blue-frange {
		h1 {
			font-size: 28px;
		}
		
		h3 {
			font-size: 13px;
		}
	}
	
	.white-frange {
		.started_form {
			button {
				&.btn-primary {
					padding: 12px 20px;
				}
				
				&.btn-orange {
					padding: 12px 20px;
				}
			}
		}
	}
}