@media (min-width: 768px) and (max-width: 991px) {
	header {
		padding: 0;
		border-bottom: 0;
		
		.navbar {
			width: 100%;
			padding: 0 1rem;
		}
		
		.navbar-light {
			background-color: #FFFFFF;
		}
		
		.collapse, .collapsing {
			.p-a-1 {
				padding: 0.2rem 0.8rem !important;
			}
			
			li {
				list-style: none;
				padding-left: 14px;
				margin-bottom: 11px;
				
				a {
					color: #292929;
					@include L-nav;
					text-align: left;
					text-transform: uppercase;
					letter-spacing: normal;
					text-decoration: none;
					padding: 0;
					display: inline-block;
					width: 100%;
					
					&:hover {
						color: orange;
					}
					
					&.pos-1 {
						margin-left: -1px;
					}
					
					&.link-s2 {
						text-transform: capitalize;
					}
				}
				
				.pos-2 {
					margin-left: 0px;
				}
			}
			
			ul {
				padding: 0;
				list-style: none;
				margin-bottom: 0.6rem;
				padding-left: 5px;
				
				li {
					padding-left: 0;
					a {
						color: #292929;
						@include L-nav;
						text-align: left;
						text-transform: uppercase;
						letter-spacing: normal;
						text-decoration: none;
						display: inline-block;
						width: 100%;
						
						&:hover {
							color: orange;
						}
					}
					
					ul {
						padding-left: 10px;
						
						ul {
							padding-left: 20px;
						}
					}
				}
			}
			
			.btns {
				text-align: left;
				padding: 0px 18px 20px 18px;
				
				.orange {
					margin-right: 10px;
				}
			}
		}
		
		.logo {
			max-width: 32px;
			margin-top: 3px;
		}
		
		.logo-text {
			img {
				padding-top: 7%;
			}
		}
		
		.fa-bars {
			font-size: 20px;
		}
		
		.Jnav {
			top: 41px;
			
			nav {
				ul {
					padding: 0 12px;
					li {
						text-align: left;
						border-bottom: 0;	
					}
				}
			}
		}
	}
	
	.banner {
		padding: 40px 0;
		
		.row {
			padding-left: 15px;
			padding-right: 15px;
		}
		
		h1 {
			font-size: 40px !important;
			margin-bottom: 10px !important;
		}
		
		h3 {
			font-size: 20px;
			margin-top: 0;
		}
		
		p {
			font-size: 14px;
			margin-top: 10px;
			padding: 0 10px;
		}
	}
	
	.logos-section {
		padding: 26px 0px 14px;
		.wrapper {
			padding: 0;
			
			h5 {
				padding: 0 20px;
			} 
		}
		 
		.text-logos {
			font-size: 16px;
			line-height: normal;
			padding: 0 15px;
		}
		
		&.grayBG {
			.left-logo-holder {
				float: left;
				max-width: 50%;
			}
			
			.right-logo-holder {
				float: left;
				max-width: 50%;
			}
		}
		
		.row-logo a {
			padding: 25px 5px;
		}
	}
	
	.white-frange {
		padding: 26px 0 26px 0;
		
		.triangle_float {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #292929;
			margin-top: -26px;
			margin-left: -15px;
			margin-bottom: 20px;
		}
		
		h1 {
			padding-left: 12px;
			padding-right: 12px;
		}
		
		.bannerbox {
			font-size: 30px;
			letter-spacing: normal;
			padding: 0;
		}
	}
	
	footer {
		&.gray {
			h1 {
				font-size: 24px;
			}
			
			.tabs-menu {
				li {
					a {
						font-size: 16px;
						padding: 0 12px 7px 12px;
						
						&:hover {
							border-bottom: 0px solid #ff7e20;
						}
					}
				}
			}
		}
		
		&.show {
			top: 41px;
			padding: 10px 0 0px !important;
			
			h1 {
				display: none;
			}
			
			ul {
				width: 100% !important;
			}
		}
	}
	
	.blue-frange {
		h1 {
			font-size: 1.9rem;
			padding-bottom: 10px;
		}
		
		h5 {
			font-size: 1.2rem;
		}
	}
	
	.white-frange {
		.started_form {
			padding: 18px;
			
			button {
				&.btn {
					font-size: 16.5px;
				}
				
				&.btn-primary {
					padding: 12px 28px;
				}
				
				&.btn-orange {
					padding: 12px 20px;
				}
			}
		}
	}
	
	// Start Tab MySelf
	.tab-content {
		max-width: 100%;
		padding: 0;
		
		&.banner-myself {
			padding: 0;
		}
	}
	
	.myself-main {
		text-align: center;
		
		.img-responsive {
			max-width: 610px !important;
			margin-bottom: 20px !important;
		}
		
		h2 {
			font-size: 34px;
			padding: 0 30px;
		}
		
		p {
			font-size: 15px;
			padding: 0 30px;
		}
		
		.media {
			width: 430px;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 9px;
			padding-right: 18px;
			
			.media-left {
				padding-right: 15px;
			}
			
			.media-body {
				text-align: left;
				
				p {
					font-size: 15px;
					margin-top: 0;
					padding: 0;
				}
				
				.link-more {
					color: #ff7e20;
					display: block;
					font-size: 15px;
					line-height: 0;
					text-decoration: none;
				}
			}	
		}
		
		.my-sign {
			margin-top: 60px;
			padding: 40px 18px;
			
			h2 {
				font-size: 1.9rem;
				margin-top: 0;
			}
			
			.btn-orange {
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: normal;
				padding: 15px 50px;
				margin-top: 20px;
			}
		}
		
		.my-action {
			padding: 60px 18px 0 18px;
			
			h1 {
				font-size: 34px;
				margin-bottom: 20px;
			}
			
			.container-actions {
				width: 70%;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 60px;
				
				img {
					max-width: 70%;
					height: auto;
					margin-bottom: 16px;
				}
				
				h4 {
					font-weight: 700;
				}
				
				p {
					font-size: 15px;
					margin-bottom: 0;
				}
			}
		}
		
		.icons-panel {
			padding: 60px 0px;
			
			.row {
				width: 720px;
				margin: 0 auto;
			}
			
			.box-icons {
				float: left;
				max-width: 360px;
				width: 360px;
				height: 186px !important;
				margin: 0 auto 50px auto;
				padding: 0 18px;
				
				&:last-child {
					float: left;
					max-width: 100%;
					width: 100%;
					margin-bottom: 0;
					
					img {
						width: 97px;
						height: 97px;
					}
				}
				
				img {
					max-width: 100px;
					height: auto;
					text-align: center;
					margin-bottom: 20px;
				}
				
				p {
					font-size: 15px;
					padding-left: 18px;
					padding-right: 18px;
					margin: 0;
				}
			}
		}
		
		.my-tour {
			text-align: center;
			background-color: #1999d6;
			padding: 40px 20px;
			
			h2 {
				color: #FFFFFF;
				font-size: 1.9rem;
				text-transform: uppercase;
			}
			
			.btn-orange {
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: normal;
				padding: 15px 50px;
				margin-top: 20px;
			}
		}
	}
	// End Tab MySelf
	
	// Start Tab SmallTeams
	.tab-pane {
		max-width: 100%;
		padding: 0;
	}
	
	.steam-main {
		text-align: center;
		padding: 0;
		
		.img-responsive {
			max-width: 590px !important;
		}
		
		h2 {
			&:nth-child(1) {
				font-size: 34px;
				text-align: center;
				margin-top: -30px;
				padding-left: 18px;
				padding-right: 18px;
			}
			
			&:nth-child(2) {
				font-size: 1.2rem;
				text-align: center;
				padding-left: 18px;
				padding-right: 18px;
			}
		}
		
		h5 {
			padding: 0 15px;
		}
		
		.media {
			width: 454px;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 18px;
			padding-right: 18px;
			
			.media-left {
				padding-right: 15px;
			}
			
			.media-body {
				text-align: left;
				
				p {
					font-size: 15px;
					margin-top: 0;
					margin-bottom: 10px;
				}
				
				.link-more {
					color: #ff7e20;
					display: block;
					font-size: 15px;
					line-height: 0;
					text-decoration: none;
				}
			}
		}
		
		.steam-free {
			text-align: center;
			margin-top: 60px;
			padding: 40px 0;
			
			h2 {
				font-size: 1.9rem;
				margin-top: 0;
			}
			
			p {
				padding-left: 18px;
				padding-right: 18px;
			}
			
			.btn-orange {
				font-size: 20px;
				text-transform: uppercase;
				letter-spacing: normal;
				padding: 15px 50px;
				margin-top: 20px;
			}
		}
		
		.steam-easy {
			font-family: 'Montserrat', sans-serif;
			text-align: left;
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/tabs/small-team/back-easy.jpg) no-repeat;
			background-size: cover;
			background-position: center center, 70% center;
			padding: 60px 0;
			
			h2 {
				font-size: 1.9rem;
				text-shadow: 1px 1px 2px #000;
				margin-top: 0;
				margin-bottom: 30px;
			}
			
			h3 {
				text-align: center;
				margin-bottom: 40px;
				padding-left: 18px;
				padding-right: 18px;
			}
			
			.link-more {
				text-align: center;
				padding-left: 18px;
				padding-right: 18px;
			}
		}
		
		.steam-action {
			padding: 80px 0;
			
			h1 {
				font-size: 40px;
				padding-left: 18px;
				padding-right: 18px;
				margin-bottom: 20px;
			}	
				
			.container-actions {
				width: 100%;
				height: 100%;
				padding-left: 18px;
				padding-right: 18px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 60px;
				
				&:last-child {
					max-width: 100%;
					margin-bottom: 0;
				}
				
				img {
					max-width: 100%;
					height: auto;
					margin-bottom: 16px;
				}
				
				h4 {
					font-weight: 700;
					text-transform: uppercase;
				}
				
				p {
					font-size: 15px;
				}
				
				.media {
					margin-top: 20px;
					
					&:first-child {
						margin-top: 50px;
					}
					
					.media-body {
						h4 {
							font-weight: 400;
							text-transform: none;
						}
					}
				}
			}
		}
		
		.steam-scheduling {
			text-align: center;
			background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/tabs/small-team/back-scheduling.jpg) no-repeat;
			background-size: cover;
			background-position: center center, 22% center;
			padding: 60px 0;
			
			h2 {
				font-size: 1.9rem;
				text-shadow: 1px 1px 2px #000;
				margin-top: 0;
				margin-bottom: 30px;
			}
			
			h3 {
				text-align: center;
				margin-bottom: 40px;
				padding-left: 18px;
				padding-right: 18px;
			}
			
			.link-more {
				text-align: center;
				padding-left: 18px;
				padding-right: 18px;
			}
		}
		
		.steam-wait {
			text-align: center;
			padding: 60px 0;
			
			.img-responsive {
				max-width: 410px !important;
			}
			
			h2 {
				font-size: 1.9rem;
				margin-top: 0;
				margin-bottom: 30px;
			}
			
			h3 {
				padding-left: 18px;
				padding-right: 18px;
				margin-bottom: 10px;
			}
			
			.link-more {
				text-align: center;
				padding-left: 18px;
				padding-right: 18px;
			}
		}
	}
	// End Tab SmallTeams
	
	// Start Tab BigTeams
	.tab-pane {
		max-width: 100%;
		padding: 0;
	}
	
	.bteam-main {
		text-align: center;
		padding: 0;
		
		.img-responsive {
			max-width: 680px !important;
			margin-bottom: 0;
		}
		
		h2 {
			font-size: 34px;
		}
		
		h3 {
			font-size: 1.5rem;
			padding-left: 18px;
			padding-right: 18px;
		}
		
		.media {
			width: 454px;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			padding-left: 18px;
			padding-right: 18px;
			
			.media-left {
				padding-right: 15px;
			}
			
			.media-body {
				text-align: left;
				
				h4 {
					font-size: 20px;
				}
				
				p {
					font-size: 15px;
					margin-top: 0;
				}
				
				.link-more {
					color: #ff7e20;
					display: block;
					font-size: 15px;
					line-height: 0;
					text-decoration: none;
				}
			}
		}
		
		.bteam-download {
			text-align: center;
			background: #292929;
			background-repeat: no-repeat;
			background-size: 80%;
			background-position: center 20%;
			padding: 40px 0;
			margin-top: 60px;
			
			.img-responsive {
				max-width: 288px !important;
			}
			
			h2 {
				font-size: 23px;
				margin-top: 0px;
				margin-bottom: 30px;
				padding-left: 6px;
				padding-right: 6px;
			}
			
			.form-group {
				margin-bottom: 0;
			}
		}
		
		.bteam-experience {
			text-align: center;
			background: #FFFFFF;
			background-repeat: no-repeat;
			background-size: 40%;
			background-position: center 11%;
			padding: 40px 0;
			
			img {
				max-width: 140px !important;
			}
			
			h2 {
				font-size: 23px;
				margin-top: 30px;
				margin-bottom: 20px;
				padding-left: 6px;
				padding-right: 6px;
			}
			
			h3 {
				font-size: 17px;
			}
			
			.link-more {
				margin-top: 10px;
			}
		}
		
		.bteam-recover {
			text-align: center;
			background: #292929;
			background-repeat: no-repeat;
			background-size: 40%;
			background-position: center 11%;
			padding: 40px 0;
			
			img {
				max-width: 140px !important;
			}
			
			h2 {
				font-size: 23px;
				margin-top: 30px;
				margin-bottom: 20px;
				padding-left: 18px;
				padding-right: 18px;
			}
			
			h3 {
				font-size: 17px;
			}
			
			.link-more {
				margin-top: 10px;
			}
		}
	}
	// End Tab BigTeams
	
	// Start Tab Developers
	.tab-pane {
		max-width: 100%;
		padding: 0;
	}
	
	.developers-main {
		text-align: center;
		background-color: #FFFFFF;
		padding: 60px 0 0 0;
		
		h1 {
			font-size: 34px;
		}
		
		.link-visit {
			line-height: normal;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		
		.media {
			width: 434px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 30px;
			
			.media-left {
				padding-right: 15px;
			}
			
			.media-body {
				p {
					font-size: 15px;
					margin-bottom: 0;
				}
			}
		}
		
		.developers-join {
			margin-top: 60px;
			
			h2 {
				font-size: 1.9rem;
				padding-left: 18px;
				padding-right: 18px;
			}
			
			.btn-orange {
				font-size: 1rem;
				padding: 15px 45px;
				margin-top: 20px;
			}
		}
	}
	// End Tab Developers
	
	// ============================================ //
	//		FEATURES SECTION 						//
	//		F1.- PERSONAL PAGE 						//
	//		F2.- MESSAGING PAGE 					//
	//		F3.- ACTIONS PAGE 						//
	//		F4.- ADD-ON STORE PAGE 					//
	//		  F4-1.- ADD-ON FILE MANAGEMENT PAGE 	//
	//		F5.- ENTERPRISE PAGE 					//
	// ============================================ //
	
	// F1.- START PERSONAL PAGE
	.platform_personal {
		text-align: center;
		margin-top: 39px;
		padding: 40px 0;
		
		h1 {
			font-size: 40px;
		}
		
		h3 {
			font-size: 20px;
		}
		
		.img-responsive {
			max-width: 380px;
		}
		
		.btn-orange {
			padding: 15px 30px !important;
		}
	}
	
	.own_personal {
		text-align: center;
		padding: 60px 0;
		
		.icons-side-personal {
			width: 280px;
			margin-bottom: 20px;
		}
		
		h1 {
			font-size: 40px;
		}
		
		h3 {
			font-size: 20px;
		}
		
		.op-apps {
			text-align: center;
			
			ul {
				li {
					display: inline-block;
					
					&:nth-child(2) {
						margin-left: 10px;
						margin-right: 10px;
					}
				}
			}
		}
	}
	
	.communicate-teams {
		text-align: center;
		
		.icons-side-personal {
			width: 160px;
			margin-bottom: 20px;
		}
		
		h2 {
			font-size: 27px;
			margin-bottom: 30px;
						
			&:first-child {
				margin-bottom: 20px;
			}
		}
		
		h3 {
			font-size: 20px;
		}
	}
	
	.schedule-simple {
		text-align: center;
		
		h2 {
			font-size: 27px;
		}
		
		.icons-side-personal {
			width: 130px;
			margin-bottom: 30px;
		}
		
		h3 {
			font-size: 20px;
		}
	}
	
	.my-action-personal {
		padding: 40px 15px;
			
		h1 {
			text-align: center;
			font-size: 34px;
			margin-bottom: 20px;
		}
		
		.container-actions {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0px;
			padding-left: 0;
			padding-right: 0;
			
			img {
				max-width: 70%;
				height: auto;
				margin-bottom: 16px;
			}
			
			p {
				font-size: 15px;
				margin-bottom: 26px;
			}
		}
	}
	
	.icons-panel-personal {
		padding: 60px 0px;
			
		.row {
			width: 720px;
			margin: 0 auto;
		}
		
		.box-icons {
			float: left;
			max-width: 360px;
			width: 360px;
			height: 186px !important;
			margin: 0 auto 50px auto;
			padding: 0 18px;
			
			&:last-child {
				float: left;
				max-width: 100%;
				width: 100%;
				margin-bottom: 0;
				
				img {
					width: 97px;
					height: 97px;
				}
			}
			
			img {
				max-width: 100px;
				height: auto;
				text-align: center;
				margin-bottom: 20px;
			}
			
			p {
				font-size: 15px;
				padding-left: 18px;
				padding-right: 18px;
				margin: 0;
			}
		}
	}
	
	// F2.- START MESSAGING PAGE
	.b-messaging {
		background-size: cover;
		background-position: center center;
	    padding: 60px 0;
	    
	    h1 {
		    font-size: 34px;
	    }
	    
	    h2 {
		    font-size: 17px;
		    padding: 0;
		    margin-bottom: 18px;
	    }
	    
	    .form-group {
		    margin-top: 0px;
		    margin-bottom: 0;
		    
		    &:last-child {
			    margin-top: 20px;
		    }
	    }
	}
	
	.real-time {
		.triangle_float {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #1F1F1F;
			margin-top: -61px;
			margin-left: -15px;
			margin-bottom: 20px;
		}
		
		h1 {
			font-size: 34px;
			text-align: center;
			margin-bottom: 0px;
			padding: 0;
		}
		
		.media {
			width: 476px;
			margin-top: 30px;
			margin-left: auto;
			margin-right: auto;
			
			.media-left {
				img {
					width: 30px;
				}
			}
		}
	}
	
	.config-right-content {
		
		&.b-o-chat {
			background: -moz-linear-gradient(right, rgba(0,29,54,0.8) 50%, rgba(0,29,54,0.8) 50%); /* FF3.6-15 */
		    background: -webkit-linear-gradient(right, rgba(0,29,54,0.8) 50%, rgba(0,29,54,0.8) 50%); /* Chrome10-25,Safari5.1-6 */
		    background: linear-gradient(to right, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		                url('../images/open-chats.jpg'), #001629;
			background-size: cover;
			background-position: center center;
		}
		
		h2 {
			text-align: center;
			font-size: 34px;
			padding: 0 15px;
			margin-bottom: 0.5rem;
		}
		
		.noP-left {
			padding-left: .9375rem !important;
		}
		
		.img-responsive {
			display: block;
			margin: 0 auto 20px auto;
		}
		
		h3 {
			text-align: center;
			font-size: 17px;
			
			&:first-child {
				margin-bottom: 20px;
			}
		}
		
		h4 {
			text-align: center;
			@include U-p;
			margin-bottom: 0;
		}
		
		.media {
			h4 {
				text-align: left;
			}
		}
	}
	
	.steam-free-orange {
		h2 {
			font-size: 30px;
			padding: 0 20px;
		}
		
		.btn-orange {
			margin-top: 10px;
			padding: 10px 15px;
		}
	}
	
	.config-left-content {
		&.b-c-chat {
			color: $f-white;
			text-shadow: 1px 1px 1px #000;
			background: -moz-linear-gradient(right, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			            url('../images/team-chat.jpg'), #001629;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
			background-size: cover;
			background-position: center center;
		}
		
		&.b-p-chat {
			color: $f-white;
			text-shadow: 1px 1px 1px #000;
			background: -moz-linear-gradient(right, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%); /* FF3.6-15 */
			background: -webkit-linear-gradient(right, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to left, rgba(0,29,54,0.8) 50%,rgba(0,29,54,0.8) 50%), /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			            url('../images/privacy-chat.jpg'), #001629;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
			background-size: cover;
			background-position: center center;
		}
		
		h2 {
			text-align: center;
			font-size: 34px;
		}
		
		.noP-left {
			padding-left: .9375rem !important;
		}
		
		.img-responsive {
			display: block;
			margin: 0 auto 20px auto;
			
			&.img-special {
				top: 0;
			}
		}
		
		h3 {
			text-align: center;
			font-size: 17px;
			
			&:first-child {
				margin-bottom: 20px;
			}
		}
		
		h4 {
			text-align: center;
			@include U-p;
			padding: 0 15px;
			margin-bottom: 0;
		}
		
		.media {
			padding: 0 15px;
			
			h4 {
				text-align: left;
				padding: 0;
			}
		}
	}
	// F2.- END MESSAGING PAGE
	
	// F3.- START ACTIONS PAGE
	.b-actions {
	    .link-more {
			font-size: 17px;
		}
		
		h1 {
			font-size: 40px;
		}
		
		h2 {
			width: 100%;
			font-size: 20px;
		}
	}
	
	.save-time {
		background-color: $f-white;
		
		.triangle_float {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #292929;
			margin-top: -63px;
			margin-left: -15px;
			margin-bottom: 20px;
		}
		
		h2 {
			text-align: center;
			font-size: 34px;
			padding: 0 15px;
		}
		
		h3 {
			text-align: center;
			padding: 0 15px;
		}
		
		.img-responsive {
			display: block;
			margin: 0 auto 10px auto;
		}
		
		.media {
			margin: 30px 15px 0 15px;
		}
	}
	
	.actions-step-1, .actions-step-2, .actions-step-3, .actions-step-4, .actions-step-5 {
		text-align: center;
		
		h1 {
			font-size: 34px;
			text-align: center;
			padding: 0 15px;
			margin-bottom: 30px;
		}
		
		.left-h1 {
			text-align: center;
		}
		
		h2 {
			font-size: 30px;
			padding: 0 15px;
		}
		
		p {
			padding: 0 15px;
		}
	}
	
	.actions-step-2, .actions-step-4 {
		color: $f-white;
		background-color: #292929;
	}
	// F3.- END ACTIONS PAGE
	
	// F4.- START ADD-ON STORE PAGE
	.secondary-header {
		top: 39px;
		padding: 4px 20px;
		
		img {
			display: none;
		}
		
		ul {
			width: 100%;
			text-align: center;
			
			li {
				padding: 0px;
				margin-top: -4px;
				
				&:nth-child(3) {
					padding: 0 18px;
				}
			}
			
			.nav-divider-addon {
				display: none;
			}
		}
		
		a {
			color: #FFFFFF;
				
			&:hover {
				text-decoration: none;
			}
		}
		
		h4 {
			font-size: 16px;
			text-transform: capitalize;
		}
		
		.search-add-on {
			display: none;
		}
	}
	
	.header-addon {
		text-align: left;
		margin-top: 71px;
		
		.container-haddon {
			display: table;
	        width: 100%;
	        
	        &> div[class^='col-'] {
		        display: table-cell;
				float: left;
				vertical-align: top;
	        }
	        
			.back-left {
				padding: 40px 0;
				
				.haddon-left {
					float: left;
					width: 100%;
					text-align: center;
					margin-right: 0px;
					padding: 0 15px;
					
					h1 {
						font-size: 40px;
						text-transform: none;
					}
				}
			}
	        
			.back-right {
				padding: 40px 0;
				
				.haddon-right {
					float: left;
					width: 100%;
					text-align: center;
					padding: 0 15px;
					
					h1 {
						font-size: 40px;
						text-transform: none;
						letter-spacing: normal;
						margin-bottom: 0 !important;
					}
					
					h2 {
						font-size: 20px;
						padding-left: 0px;
						margin-bottom: 0;
					}
					
					.box-sign {
						text-align: center;
					}
				}
			}
		}
	}
	
	.connect-all {
		text-align: center;
		padding: 62px 0 63px 0;
		
		img {
			max-width: 100%;
			height: auto
		}
		
		h1 {
			font-size: 34px;
			padding: 0 15px
		}
		
		h2 {
			width: 100%;
			font-size: 20px;
			padding: 0 15px;
		}
		
		.box-sign {
			text-align: center;
			.btn-orange {
				font-size: 17px;
			}
		}
	}
	
	.browse-store {
		text-align: center;
		background-color: $b-lgray;
		
		h2 {
			font-size: 34px;
			padding: 0 15px;
		}
		
		h3 {
			font-size: 20px;
			padding: 0 15px;
		}
		
		.img-responsive {
			margin-bottom: 0;
		}
	}
	// F4.- END ADD-ON STORE PAGE
	
	// F4-1.- START ADD-ON FILE MANAGEMENT PAGE
	.b-filem {
		text-align: center;
		margin-top: 71px;
		
		.wrapper {
			padding: 0 9px;
			
			h1 {
				font-size: 40px;
			}
		}
	}
	
	.b-layout__main {
		display: flex;
		
		.section-container {
			max-width: 100%;
			padding: 15px 15px;
			
			.layout {
				display: block;
				padding: 0;
				
				.layout__main {
					width: calc(100% - 310px);
					
					.layout__left {
						width: 100%;
						padding-bottom: 0;
						
						.layout__content_box {
							padding: 15px;
							
							h4 {
								font-size: 15px;
								text-align: center;
							}
						}
						
						.title_subheading {
							display: none;
						}
						
						.categories-mobile {
							display: none;
						}
					}
				}
				
				.layout__middle {
					width: 100% !important;
					padding-left: 0 !important;
					
					.layout__content_middle {
						ul {
							.nav-item {
								.nav-link {
									font-size: 15px;
								}
							}
						}
						
						.tab-content {
							padding: 20px 15px;
							
							h2 {
								font-size: 24px;
								text-align: center;
							}
							
							.jplist {
								.list {
									margin-top: 0;
								}
							}
							
							.media {
								.media-left {
									img {
										width: 50px !important;
										height: 50px !important;
									}
								}
								
								.media-body {
									h4 {
										font-size: 24px !important;
									}
								}
							}
						}
						
						&.special-config {
							text-align: center;
							padding: 20px 15px;
							
							h2 {
								font-size: 24px;
							}
							
							h3 {
								font-size: 17px;
							}
							
							.box-sign {
								.btn-orange {
									font-size: 20px;
									padding: 7px 20px;
								}
							}
						}
					}
				}
			}
		}
	}
	// F4-1.- END ADD-ON FILE MANAGEMENT PAGE
	
	// F5.- START ENTERPRISE PAGE
	.b-enterprise {
	    .link-more {
			font-size: 17px;
		}
		
		h1 {
			font-size: 34px;
		}
		
		h2 {
			font-size: 20px;
		}
	}
	
	.enterprise-delivers {
		padding: 60px 0 20px;
		
		.triangle_float {
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #1F1F1F;
			// margin-top: -41px;
			margin-left: -15px;
			margin-bottom: 20px;
		}
		
		h3 {
			padding: 0 17px;
			font-size: 17px;
			text-align: center;
		}
	}
	
	.enterprise-icons {
		margin-top: 40px;
		padding: 40px 0;
		
		ul {
			padding-left: 0;
			margin-bottom: 0;
			
			li {
				width: 24.4%;
				display: inline-block;
				margin: 0;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				img {
					max-width: 90px;
					height: auto;
					margin-bottom: 15px;
				}
				
				h4 {
					font-size: 20px;
					margin-bottom: 0;
				}
			}
		}
	}
	
	.enterprise-summary {
		background: #F6F6F6;
		
		h1 {
			text-align: center;
			font-size: 34px;
			margin-bottom: 20px;
			padding: 0 15px;
		}
		
		h3 {
			font-size: 20px;
			padding: 0 15px;
		}
		
		.img-responsive {
			max-width: 60%;
			margin-bottom: 20px;
		}
		
		.media {
			margin-top: 20px;
		}
	}
	
	.automated-actions {
		h1 {
			text-align: center;
			font-size: 34px;
			padding: 0 15px;
		}
		
		h3 {
			font-size: 20px;
			padding: 0 15px;
		}
		
		.img-responsive {
			margin-bottom: 20px;
		}
		
		.media {
			margin-top: 20px;
			
			.media-body {
				p {
					padding-right: 0px;
					
					&.note {
						@include R-nav-a;
					}
				}
			}
		}
	}
	
	.tech-platform {
		h1 {
			text-align: center;
			font-size: 34px;
			padding: 0 15px;
		}
		
		h3 {
			text-align: center;
			font-size: 17px;
			padding: 0 15px;
		}
		
		.p-random {
			width: 100%;
			height: 100%;
			
			&:nth-child(even) {
				float: left;
			}
			
			&:nth-child(odd) {
				float: right;
			}
		}
		
		.media {
			margin-top: 40px;
			padding: 0 15px;
			
			.media-left {
				padding-right: 10px;
			}
			
			img {
				max-width: 40px;
				height: auto;
			}
		}
	}
	
	.premiere-support {
		h1 {
			font-size: 34px;
		}
		
		h3 {
			padding: 0 15px;
			
			&:nth-child(3) {
				margin-bottom: 0;
			}
		}
	}
	
	.premiere-icons {
		padding: 40px 0;
		
		ul {
			padding-left: 0;
			margin-bottom: 0;
			
			li {
				width: 49.6%;
				display: inline-block;
				margin: 0 0 40px 0;
				
				&:last-child {
					margin-bottom: 0;
				}
				
				img {
					max-width: 117px;
					height: auto;
					margin-bottom: 15px;
				}
				
				h4 {
					@include L-btn;
				}
				
				p {
					font-size: 15px;
					padding: 0 15px;
				}
			}
		}
	}
	// F5.- END ENTERPRISE PAGE
}