@media (min-width: 768px) and (max-width: 1023px) {
	header {
		padding: 0;
		border-bottom: 0;
		
		.navbar {
			padding: 0 1rem;
		}
		
		.navbar-light {
			background-color: #FFFFFF;
		}
		
		.collapse, .collapsing {
			.p-a-1 {
				padding: 0.2rem 0.8rem !important;
			}
			
			li {
				list-style: none;
				padding-left: 14px;
				margin-bottom: 11px;
				
				a {
					color: #292929;
					font-size: 15px;
					font-weight: 400;
					font-family: 'Montserrat', sans-serif;
					text-align: left;
					text-transform: uppercase;
					letter-spacing: normal;
					text-decoration: none;
					padding: 0;
					display: inline-block;
					width: 100%;
					
					&:hover {
						color: orange;
					}
					
					&.pos-1 {
						margin-left: -1px;
					}
					
					&.link-s2 {
						text-transform: capitalize;
					}
				}
				
				.pos-2 {
					margin-left: -4px;
				}
			}
			
			ul {
				padding: 0;
				list-style: none;
				margin-bottom: 0.6rem;
				padding-left: 13px;
				
				li {
					padding-left: 0;
					a {
						color: #292929;
						font-size: 15px;
						font-weight: 400;
						font-family: 'Montserrat', sans-serif;
						text-align: left;
						text-transform: uppercase;
						letter-spacing: normal;
						text-decoration: none;
						display: inline-block;
						width: 100%;
						
						&:hover {
							color: orange;
						}
					}
					
					ul {
						padding-left: 10px;
						
						ul {
							padding-left: 20px;
						}
					}
				}
			}
			
			.btns {
				text-align: left;
				padding: 0px 27px 20px 27px;
				
				.orange {
					margin-right: 10px;
				}
			}
		}
		
		.logo {
			max-width: 33px;
			margin-top: 3px;
		}
		
		.logo-text {
			font-size: 23px;
			line-height: 1.8;
		}
		
		.fa-bars {
			font-size: 20px;
		}
	}
	

	.logos-section {
		.row-logo {	
			.left-logo-holder {
				float: none;
				margin: 0 auto;
			}
				
			.right-logo-holder {
				float: none;
				margin: 0 auto;
			}
			
			a {
				padding: 25px 5px;
			}
		}
	}
	
	.white-frange {
		padding: 0 0 80px 0;
		
		h1 {
			font-size: 45px;
		}
	}
}