.row-images-homepage{

	margin-top: 50px;
	text-align: center;

	img{
		width: 225px;
	}

	p{
		color: #292929;
	    font-size: 20px;
	    padding: 15px 15px;
	    text-align: center;
	}

	a{
		color: #ff7e20;
	    display: block;
	    font-size: 20px;
	    font-weight: 600;
	    line-height: 0;
	    text-align: center !important;
	    text-decoration: none;
	}
}

.row-img-containerh{
	margin-right: 0;
    margin-left: 0;
}

.white-bgu{
	text-align: center;

	p{
		font-family: "Montserrat",sans-serif;
	    color: #292929;
	    font-size: 50px;
	    font-weight: 500;
	    letter-spacing: -2px;
	    text-align: center;
	}
}

.orange-learn-more{
    background-color: #ff7e20;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 40px;
    text-align: center !important;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover{
	    color: white;
	    text-decoration: none;
    	background-color: orange;
    }
}