@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}

header{
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #eee;
	padding: 3.6px 16px;
	background-color: #fff;
	z-index: 2;
	
	.wrapper {
		max-width: 100%;
	}
	
	.fa-bars{
		font-size: 30px;
	    padding: 10px;
	    color: #f68b1f !important;
	    cursor: pointer;
	    display: none;
	    @media (max-width: 900px ){
	    	display: block;
	    }
	}
	.wrapper{
		@media (max-width: 900px ){
			padding: 0;
		}
	}
	.btns{
		padding-top: 6px;
	}
}
.logo{
	max-width: 50px;
	float: left;
	padding: 0;
}

 .logo-text{
 	font-family: "Montserrat",sans-serif;
    font-size: 26px;
    letter-spacing: -2.2px;
    line-height: 1.9;
    margin-left: 0px;
    color: #f68b1f !important;
    font-weight: 700;
    margin-right: 19px;
    float: left;
    padding: 0;
 }
 .Jnav{
 	@media (max-width: 991px ){
 		display: none;
 		position: absolute;
	    background: white;
	    width: 100%;
	    left: 0;
	    top: 60px;
 	}
 }

nav{
	float: left;
	@media (max-width: 900px ){
		float: none;
	}
	
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			display: inline-block;
		    padding: 0px 6px;
		    color: #474747;
		    font-family: "Montserrat",sans-serif;
		    font-size: 15px;
		    letter-spacing: -1.5px;
		    line-height: 51px;
		    text-transform: uppercase;
		    @media (max-width: 900px ){
		    	width: 100%;
			    text-align: center;
			    border-bottom: 1px solid #ccc;
		    }
		    a{
		    	color: #474747;
		
		    	&:hover{
			    	color: #f68b1f !important;
			    	text-decoration: none;
			    }
		    }
		
		    ul{
		    	position: absolute;
		    	background-color: #FFF;
		    	padding: 10px; 
		    	min-width: 160px;
		    	display: none;
		
		    	li{
		    		display: block;
		    		padding: 0;
		    		text-transform: capitalize;
		    		line-height: 30px;
		    	}
		    	
		    	a {
				    color: #3b3b3b;
			    	font-size: 13px;
			    	font-weight: 600;
			    	letter-spacing: normal;
					text-transform: capitalize;
		    	}
		    }
		
		    &:hover{
		    	ul{
		    		display: block;
		    	}
		
		    	.mega-menu-content{
		    		display: block;
		    	}
		    }
		
		    i{
		    	margin-left: 0px;
		    }
		}
		
		.mega-menu-content {
			padding: 12px 10px 10px 10px;
			
			h1 {
				font-size: 13px;
				font-weight: 600;
				letter-spacing: normal;
				text-transform: uppercase;
				margin-bottom: 14px;
			}
			
			.separator-menu {
				width: calc(100% - 8px);
				margin: 0;
			}
			
			.col-md-6 {
				&:first-child {
					padding-right: 0;
				}
				
				&:last-child {
					padding-left: 7px;
				}
			}
			
			ul {
				padding: 0;
				
				li {
					a {
						color: #3b3b3b;
						font-size: 13px;
						font-weight: 600;
						letter-spacing: normal;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}
.mega-menu-content{
	position: absolute;
	background-color: #fff;
	padding: 15px; 
	display: none;
	transition: all 1s linear;
	h1 {
		font-size: 15px;
	}
	ul{
		position: relative;
		&:first-child{
			border-right: 1px solid #eee;
		}
		li{
			display: block;
			text-transform: capitalize;
			line-height: 30px;
		}
	}
	.separator-menu{
		border-bottom:1px solid #ccc; 
		width:160px; 
		margin:0 auto; 
		overflow-y:auto;
	}
	.row{
		&>div{
			&:first-child{
				 border-right: 1px solid #ccc;
	    		padding-right: 15px;
			}
		}
	}
	
}
.btns{
	@media (max-width: 900px ){
		float: none !important;
	    text-align: center;
	    padding: 20px 0 10px;
	}
}

.banner{
	background-image: url("../images/bigbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 205px 0;
    @media (max-width: 900px){
    	padding: 150px 0;
    }
    @media (max-width: 639px){
    	padding: 100px 0;
    	margin-bottom: -2px;
    }
    &.bg2{
    	background-image: url("../images/Depositphotos_60069873_original_mini.jpg");
    }
    h1{
    	font-family: "Montserrat",sans-serif;
	    font-size: 71px;
	    letter-spacing: -2px;
	    text-transform: uppercase;
	    margin-bottom: 0;
	    @media (max-width: 1024px ){
			font-size: 60px;
	    }
	    @media (max-width: 768px ){
			font-size: 50px;
	    }
	    @media (max-width: 480px ){
			font-size: 40px;
	    }
	    @media (max-width: 320px ){
			font-size: 30px;
	    }
    }
    h3{
    	text-transform: uppercase;
    	font-family: 'Montserrat', sans-serif;
    	transition: all 0.4s linear;
    	@media (max-width: 768px){
    		margin-top: 20px;
    	}
    	@media (max-width: 480px){
    		font-size: 1.4rem;
    		margin-top: 20px;
    	}
    }
    p{
    	font-size: 22px;
	    margin-top: 25px;
	    margin-bottom: 18px;
    }

	form{
		input{
			width: 235px;
		    margin-left: 6px;
		    margin-right: 6px;
		    display: inline-block;
		}
	}
	.form-group{
		display: inline-block;
		
		button {
			width: 235px;
			
			&.btn-primary {
				padding: 7.5px 16px !important;
				margin-top: -3px;
				margin-left: 6px;
				margin-right: 6px;
			}
		}
	}
	.play{
		color: #ccc;
    	font-size: 26px;
    	@media (max-width: 480px){
    		font-size: 19px;
    	}
    	&:hover{
    		text-decoration: none;
    		color: #fff;
    	}
	}
	.fa-play{
		background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
	    border: 3px solid #ccc;
	    border-radius: 50%;
	    padding: 10px 10px 10px 15px;
	    width: 50px;
	    margin-right: 12px;
	    &:hover{
	    	text-decoration: none;
	    	color: #fff;
	    }
	}
}

.text-logos{
	transition: all 0.4s linear;
	@media (max-width: 480px){
		    font-size: 17px;
    		line-height: 30px;
	}
}
.pull-right{
	float: right;
}
.logos-section{
	min-height: 100px;
	padding: 40px 0px 8px;
	text-align: center;
}
h5{
	font-family: "Montserrat",sans-serif;
    font-size: 23px;
    color: #fff;
}

.vertical-center{
  display: flex;
  align-items: center;
}

.bannerbox {
    font-family: "Montserrat",sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -2px;
    text-align: center;
    @media (max-width: 991px){
    	font-size: 45px;
    }
    @media (max-width: 880px){
    	font-size: 40px;
    }
    @media (max-width: 768px){
    	font-size: 30px;
    }
    @media (max-width: 590px){
    	font-size: 25px;
    }
}
.h1-second{
	font-family: "Montserrat",sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
    color: #ccc;
    transition: all 0.4s linear;
    @media (max-width: 480px){
    	font-size: 35px;
    }
}
.center{
	text-align: center;
	margin: 0 auto;
}
.grayBG{
	background-color: #292929;
	transition: all 0.4s linear;
	
	.row-logo {
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
		
		.left-logo-holder {
			float: left;
			width: 100%;
			max-width: 420px;
		}
		
		.right-logo-holder {
			float: left;
			width: 100%;
			max-width: 420px;
		}
		
		a {
			padding: 25px 15px;
		}
		
		.logo-holder img {
			width: 100%;
			max-width: 125px;
			margin: 0 auto;
		}
	}
}
.inline{
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
	li{
		display: inline-block;
		padding: 5px 15px;
		color: #eee !important;
	    font-family: "Montserrat",sans-serif !important;
	    font-size: 16px;
		a{
			&:hover{
				text-decoration:none;
			}
		}
		&.active{
			border-bottom: 5px solid orange;
		}
		&:hover{
			border-bottom: 5px solid orange;
		}
		@media (max-width: 550px){
			padding: 7px 5px;
		}
		@media (max-width: 480px){
			font-size: 14px;
			padding: 5px 5px;
		}
		@media (max-width: 374px){
			font-size: 12px;
			padding: 5px 3px;
		}
	}
	
	a {
		color: #CCCCCC;
	}
}
.triangulo_inf {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #292929;
    margin: 0 auto;
    margin-top: -10px;
    &.color2{
		border-top: 35px solid #f5f4f0;
    }
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
.first-banner{
	margin-top: 59px;
	@media (max-width: 1024px){
		margin-top:50px;
	}
	@media (max-width: 900px){
		margin-top:40px;
	}
}
.add-bottomM-10{
	margin-bottom: 10px;
}
.add-bottomM-25{
	margin-bottom: 25px;
}
.add-topP-30{
	padding-top: 30px;
}

.add-bottomM-50{
	margin-bottom: 50px !important;
}

#sticky{
	z-index: 1;
}
.white-frange{
	padding: 0 0 100px;
	.triangulo_inf{
		margin-bottom: 80px;
	}
	&.for_form{
		padding: 0;
    	margin-bottom: -201px;
	}
}

.blue-frange{
	padding: 50px 20px 250px;
	background-color: #1999d6;
	text-align: center;
	color: #fff;
	h1{
    	font-family: inherit;
	    font-size: 65px;
	    font-weight: 700;
	    text-transform: uppercase;
	    margin-bottom: 0;
	    @media (max-width: 1024px ){
			font-size: 60px;
	    }
	    @media (max-width: 768px ){
			font-size: 50px;
	    }
	    @media (max-width: 480px ){
			font-size: 40px;
	    }
	    @media (max-width: 320px ){
			font-size: 30px;
	    }
    }
    
    h3 {
	    font-size: 23px;
	    font-weight: 700;
	    
	    a {
		    color: #FFFFFF;
		    text-decoration: underline;
	    }
    }
}

.started_form{
    text-align: center;
    width: 90%;
    max-width: 785px;
    margin: 0 auto;
    position: relative;
    top: -226px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 35px;
	
	input{
		background-color: #f5f4f0;
	    border: 1px solid transparent;
	    border-radius: 0;
	    color: #a7a9ac;
	    font-size: 20px;
	    font-weight: 700;
	    padding: 10px 15px;
	    width: 100%;
	    margin-bottom: 16px;
	}
	
	span{
		color: #808285;
    	font-size: 20px;
    	display: block;
    	margin: 10px 0;
	}
	button{
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		border: 0;
		letter-spacing: normal;
		
		.btn-lg {
			-webkit-border-radius: 4px;
			   -moz-border-radius: 4px;
			        border-radius: 4px;
		}
		
		&.btn-primary {
			background: #1999d6;
			padding: 15px 50px;
			margin-top: 15px;
			
			&:hover {
				background-color: #1999d6;
			}
			
			&:focus {
				background-color: #1999d6;
			}
			
			&:active {
				background-color: #1999d6;
			}
			
			&:focus:active {
				background-color: #1999d6;
			}
			
			&:active:hover {
				background-color: #1999d6;
			}
		}
		
		&.btn-orange {
			background: #ff7e20;
			padding: 15px 50px;
			
			&:hover {
				background-color: #ff7e20;
			}
			
			&:focus {
				background-color: #ff7e20;
			}
			
			&:active {
				background-color: #ff7e20;
			}
			
			&:focus:active {
				background-color: #ff7e20;
			}
			
			&:active:hover {
				background-color: #ff7e20;
			}
		}
		@media (max-width: 480px){
			font-size: 15px;
    		font-weight: bold;
		}
	}
}
.btn{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -1.2px;
}
.btn-orange{
	background-color: #ff7e20;
	color: #ffffff;
	&:hover{
		background-color: #E6731F;
	}
}
.orange{
	border: 2px solid #7c7c7c;
    color: #222;
    &:hover{
    	background-color: #ff7e20;
    	color: #fff;
    	border: 2px solid #ff7e20;
    }
}
.btn-gray{
	background-color: #7c7c7c;
	color: #fff;
	&:hover{
		background-color: #6D6868;
	}
}
@import 'cstyles.scss';


footer{
	background-color: #333;
    color: #eee;
    text-align: center;
    padding: 51px 0 20px 0;
    @media (max-width: 991px){
    	.logo-text{
			float: none;
    		display: inline-block;
    	}
    	.logo{
    		float: none;
    		display: inline-block;
    	}
    }
    h5{
    	text-align: left;
	    padding-bottom: 10px;
	    padding-left: 15px;
	    color: #ccc;
	    @media (max-width: 991px){
			text-align: center;
		}
    }
    .cols{
    	section{
    		width: 19.5%;
    		float: left;
    		@media (max-width: 991px){
    			width: 33%;
    			text-align: center;
    			&:nth-child(4){
	    			width: 50%;
	    		}
	    		&:nth-child(5){
	    			width: 50%;
	    		}
    		}
    		@media (max-width: 600px){
    			width: 50%;
    			text-align: center;
    			&:last-child{
    				width: 100%;
    			}
    			&:nth-child(4){
	    			width: 50%;
	    		}
    		}
    		@media (max-width: 480px){
    			width: 100%;
    			text-align: center;
    			&:nth-child(4){
	    			width: 100%;
	    		}
    		}
    	}
    }
    ul {
	    text-align: left;
	    list-style: none;
	    padding-left: 15px;
	    padding-bottom: 15px;
	    @media (max-width: 991px){
			text-align: center;
		}
	    li{
	    	a{
	    		color: #eee;
	    		&:hover{
	    			color: #eee;
	    		}
	    	}
	    	.btn{
	    		min-width: 150px;
	    		text-align: center;
	    	}
	    }
	    &.color-text2{
	    	color: #5bc0de;
	    }
	}
}

.how-to{
	font-size: 0px !important;
	position: absolute;
	left: 0;
	&:hover{
		border-bottom: none !important;
	}
	&.stiked{
		font-size: 18px !important;
	}
	@media (max-width: 1023px){
		display:none !important;
	}
}

// Start Tab MySelf
.tab-content {
	.wrapper {
		max-width: 100%;
		padding: 0;
	}
}

.banner-myself {
	background-image: url("../images/tabs/myself/myself_back.jpg");
	background-repeat: no-repeat;
	background-position: -10% 0%;
	background-size: 60%;
	padding: 205px 0 0 0;
}

.myself-main {
	text-align: left;
	
	.media {
		margin-top: 50px;
		
		.media-left {
			padding-right: 25px;
			
			.fa-comments-o {
				font-size: 4rem;
				margin-left: 8px;
				margin-right: 8px;
			}
			
			.fa-calendar {
				font-size: 4rem;
				margin-left: 10px;
				margin-right: 10px;
			}
			
			.fa-user-secret {
				font-size: 4rem;
				margin-left: 15px;
				margin-right: 10px;
			}
			
			.myself-icon {
				-webkit-border-radius: 50%;
				   -moz-border-radius: 50%;
				        border-radius: 50%;
				background-color: #FFFFFF;
			}
		}
		
		.media-body {
			text-align: left;
			
			p {
				margin-top: 0;
			}
			
			.link-more {
				color: #ff7e20;
				display: block;
				font-size: 20px;
				font-weight: 600;
				line-height: 0;
				text-decoration: none;
			}
		}	
	}
	
	.my-sign {
		text-align: center;
		background-color: #1999d6;
		margin-top: 80px;
		padding: 40px 0;
		
		h2 {
			color: #FFFFFF;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}
		
		.btn-orange {
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: normal;
			padding: 15px 50px;
			margin-top: 20px;
		}
	}
	
	.my-action {
		padding: 80px 0;
		
		h1 {
			font-family: 'Montserrat', sans-serif;
			font-size: 65px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 80px;
		}
		
		.container-actions {
			max-width: 460px;
			font-family: 'Montserrat', sans-serif;
			text-align: center;
			
			&.special-pos-1 {
				margin-top: -310px;
			}
			
			&.special-pos-2 {
				margin-top: 60px;
				margin-left: 120px;
			}
			
			img {
				margin-bottom: 16px;
			}
			
			h4 {
				font-weight: 700;
				text-transform: uppercase;
			}
		}
	}
	
	.icons-panel {
		background: #292929;
		padding: 60px 0px;
		
		.box-icons {
			float: left;
			max-width: 210px;
			margin-right: 18px;
			color: #FFFFFF;
			font-family: 'Montserrat', sans-serif;
			text-align: center;
			
			&:last-child {
				margin-right: 0;
			}
			
			img {
				max-width: 60%;
				height: auto;
				text-align: center;
				-webkit-border-radius: 50%;
				   -moz-border-radius: 50%;
				        border-radius: 50%;
				background-color: #FFFFFF;
				margin-bottom: 20px;
			}
			
			h4 {
				font-weight: 700;
				text-transform: uppercase;
			}
			
			p {
				font-weight: 400;
				margin: 0;
			}
		}
	}
	
	.my-tour {
		text-align: center;
		background-color: #1999d6;
		padding: 80px 0;
		
		h2 {
			color: #FFFFFF;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}
		
		.btn-orange {
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: normal;
			padding: 15px 50px;
			margin-top: 20px;
		}
	}
}
// End Tab MySelf

// Start Tab SmallTeams
.tab-pane {
	.wrapper {
		max-width: 100%;
		padding: 0;
	}
}

.banner-steam {
	background-image: url("../images/tabs/small-team/steam_back.jpg");
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-size: auto;
	padding: 205px 0 0 0;
}

.steam-main {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	
	h2:first-child {
		font-weight: 700;
		text-transform: uppercase;
	}
	
	.media {
		margin-top: 50px;
		
		.media-left {
			padding-right: 25px;
			
			.fa-rocket {
				font-size: 4rem;
				margin-left: 8px;
				margin-right: 8px;
			}
			
			.fa-comments-o {
				font-size: 4rem;
				margin-left: 8px;
				margin-right: 8px;
			}
			
			.fa-calendar {
				font-size: 4rem;
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		
		.media-body {
			text-align: left;
			
			p {
				margin-top: 0;
			}
			
			.link-more {
				color: #ff7e20;
				display: block;
				font-size: 20px;
				font-weight: 600;
				line-height: 0;
				text-decoration: none;
			}
		}
	}
	
	.steam-free {
		text-align: center;
		background-color: #1999d6;
		margin-top: 80px;
		padding: 40px 0;
		
		h2 {
			color: #FFFFFF;
			font-family: 'Montserrat', sans-serif;
			font-weight: 700 !important;
			text-transform: uppercase;
		}
		
		p {
			color: #FFFFFF;
		}
		
		.btn-orange {
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: normal;
			padding: 15px 50px;
			margin-top: 20px;
		}
	}
	
	.steam-easy {
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		background-image: url(../images/tabs/small-team/back-easy.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0% 70%;
		padding: 80px 0;
		
		h2 {
			color: #FFFFFF;
			text-shadow: 1px 1px 2px #000;
			margin-bottom: 30px;
		}
		
		h3 {
			color: #FFFFFF;
			text-shadow: 1px 1px 2px #000;
			margin-bottom: 40px;
		}
		
		.link-more {
			color: #ff7e20;
			display: block;
			font-size: 20px;
			font-weight: 600;
			line-height: 0;
			text-decoration: none;
		}
	}
	
	.steam-action {
		padding: 80px 0;
		
		h1 {
			font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 80px;
		}
		
		.container-actions {
			max-width: 460px;
			font-family: 'Montserrat', sans-serif;
			text-align: center;
			
			&:nth-child(2) {
				margin-bottom: 60px;
			}
			
			&.special-pos-1 {
				margin-top: -503px;
			}
			
			&.special-pos-2 {
				margin-top: 60px;
				margin-left: 120px;
			}
			
			&.special-pos-3 {
				margin-top: -459px;
			}
			
			img {
				margin-bottom: 16px;
			}
			
			h4 {
				font-weight: 700;
				text-transform: uppercase;
			}
			
			.media {
				margin-top: 20px;
				
				&:first-child {
					margin-top: 50px;
				}
				
				.media-body {
					h4 {
						font-weight: 400;
						text-transform: none;
					}
				}
			}
		}
	}
	
	.steam-scheduling {
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		background-image: url(../images/tabs/small-team/back-easy.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0% 70%;
		padding: 80px 0;
		
		h2 {
			color: #FFFFFF;
			text-shadow: 1px 1px 2px #000;
			margin-bottom: 30px;
		}
		
		h3 {
			color: #FFFFFF;
			text-shadow: 1px 1px 2px #000;
			margin-bottom: 40px;
		}
		
		.link-more {
			color: #ff7e20;
			display: block;
			font-size: 20px;
			font-weight: 600;
			line-height: 0;
			text-decoration: none;
		}
	}
	
	.steam-wait {
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		background-image: url(../images/tabs/small-team/steam_back.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 74% center;
		padding: 80px 0;
		
		h2 {
			margin-bottom: 30px;
		}
		
		h3 {
			margin-bottom: 40px;
		}
		
		.link-more {
			color: #ff7e20;
			display: block;
			font-size: 20px;
			font-weight: 600;
			line-height: 0;
			text-decoration: none;
		}
	}
}
// End Tab SmallTeams

// Start Tab BigTeams
.tab-pane {
	.wrapper {
		max-width: 100%;
		padding: 0;
	}
}

.banner-bteam {
	background-image: url("../images/tabs/big-team/bteam_back.jpg");
	background-repeat: no-repeat;
	background-position: -8% 0%;
	background-size: auto;
	padding: 205px 0 0 0;
}

.bteam-main {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	
	.media {
		margin-top: 50px;
		
		.media-left {
			padding-right: 25px;
			
			.fa-lightbulb-o {
				font-size: 4rem;
				margin-left: 8px;
				margin-right: 18px;
			}
			
			.fa-bar-chart {
				font-size: 3rem;
				margin-left: 2px;
				margin-right: 0px;
			}
			
			.fa-cloud {
				font-size: 3.2rem;
				margin-left: 2px;
				margin-right: 0px;
			}
			
			.fa-refresh {
				font-size: 4rem;
				margin-left: 2px;
				margin-right: 0px;
			}
		}
		
		.media-body {
			text-align: left;
			
			p {
				margin-top: 0;
			}
			
			.link-more {
				color: #ff7e20;
				display: block;
				font-size: 20px;
				font-weight: 600;
				line-height: 0;
				text-decoration: none;
			}
		}
	}
	
	.bteam-download {
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		background: url(../images/tabs/small-team/steam_back.jpg),
					#292929;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 22% center;
		padding: 80px 0;
		margin-top: 80px;
		
		h2 {
			color: #FFFFFF;
			margin-bottom: 30px;
			
			.h2-italic {
				font-style: italic;
			}
		}
		
		.btn-orange {
			font-size: 20px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: normal;
			padding: 15px 50px;
			margin-top: 0px;
		}
	}
	
	.bteam-experience {
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		background: url(../images/tabs/small-team/steam_back.jpg),
					#292929;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 72% center;
		padding: 80px 0;
		
		h2 {
			color: #FFFFFF;
			margin-bottom: 30px;
		}
		
		.link-more {
			color: #ff7e20;
			display: block;
			font-size: 20px;
			font-weight: 600;
			line-height: 0;
			text-decoration: none;
		}
	}
	
	.bteam-recover {
		font-family: 'Montserrat', sans-serif;
		text-align: left;
		background: url(../images/tabs/small-team/steam_back.jpg),
					#292929;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 22% center;
		padding: 80px 0;
		
		h2 {
			color: #FFFFFF;
			margin-bottom: 30px;		
		}
		
		.link-more {
			color: #ff7e20;
			display: block;
			font-size: 20px;
			font-weight: 600;
			line-height: 0;
			text-decoration: none;
		}
	}
}
// End Tab BigTeams