@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}



header{
	width: 100%;
	position: fixed;
	border-bottom: 1px solid #eee;
	padding: 3.6px 16px;
	background-color: #fff;
	z-index: 2;
	
	.wrapper {
		max-width: 100%;
	}
	
	.fa-bars{
		font-size: 30px;
	    padding: 10px;
	    color: #f68b1f !important;
	    cursor: pointer;
	    display: none;
	    @media (max-width: 900px ){
	    	display: block;
	    }
	}
	.wrapper{
		@media (max-width: 900px ){
			padding: 0;
		}
	}
	.btns{
		padding-top: 6px;
	}
}
.logo{
	max-width: 50px;
	float: left;
	padding: 0;
}

 .logo-text{
 	font-family: "Montserrat",sans-serif;
    font-size: 26px;
    letter-spacing: -2.2px;
    line-height: 1.9;
    margin-left: 0px;
    color: #f68b1f !important;
    font-weight: 700;
    margin-right: 19px;
    float: left;
    padding: 0;
 }
 .Jnav{
 	@media (max-width: 991px ){
 		display: none;
 		position: absolute;
	    background: white;
	    width: 100%;
	    left: 0;
	    top: 60px;
 	}
 }

nav{
	float: left;
	@media (max-width: 900px ){
		float: none;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			display: inline-block;
		    padding: 0px 6px;
		    color: #474747;
		    font-family: "Montserrat",sans-serif;
		    font-size: 15px;
		    letter-spacing: -1.5px;
		    line-height: 51px;
		    text-transform: uppercase;
		    @media (max-width: 900px ){
		    	width: 100%;
			    text-align: center;
			    border-bottom: 1px solid #ccc;
		    }
		    a{
		    	color: #474747;
		    	&:hover{
			    	color: #f68b1f !important;
			    	text-decoration: none;
			    }
		    }
		    ul{
		    	position: absolute;
		    	background-color: #FFF;
		    	padding: 10px; 
		    	min-width: 160px;
		    	display: none;
		    	li{
		    		display: block;
		    		padding: 0;
		    		text-transform: capitalize;
		    		line-height: 30px;
		    	}
		    }
		    &:hover{
		    	ul{
		    		display: block;
		    	}
		    	.mega-menu-content{
		    		display: block;
		    	}
		    }
		    i{
		    	margin-left: 0px;
		    }
		}
	}
}
.mega-menu-content{
	position: absolute;
	background-color: #fff;
	padding: 15px; 
	display: none;
	transition: all 1s linear;
	h1{
		font-size: 15px;
	}
	ul{
		position: relative;
		&:first-child{
			border-right: 1px solid #eee;
		}
		li{
			display: block;
			text-transform: capitalize;
			line-height: 30px;
		}
	}
	.separator-menu{
		border-bottom:1px solid #ccc; 
		width:160px; 
		margin:0 auto; 
		overflow-y:auto;
	}
	.row{
		&>div{
			&:first-child{
				 border-right: 1px solid #ccc;
	    		padding-right: 15px;
			}
		}
	}
	
}
.btns{
	@media (max-width: 900px ){
		float: none !important;
	    text-align: center;
	    padding: 20px 0 10px;
	}
}

.banner{
	background-image: url("../images/bigbanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 205px 0;
    @media (max-width: 900px){
    	padding: 150px 0;
    }
    @media (max-width: 639px){
    	padding: 100px 0;
    	margin-bottom: -2px;
    }
    &.bg2{
    	background-image: url("../images/Depositphotos_60069873_original_mini.jpg");
    }
    h1{
    	font-family: "Montserrat",sans-serif;
	    font-size: 71px;
	    letter-spacing: -2px;
	    text-transform: uppercase;
	    margin-bottom: 0;
	    @media (max-width: 1024px ){
			font-size: 60px;
	    }
	    @media (max-width: 768px ){
			font-size: 50px;
	    }
	    @media (max-width: 480px ){
			font-size: 40px;
	    }
	    @media (max-width: 320px ){
			font-size: 30px;
	    }
    }
    h3{
    	text-transform: uppercase;
    	font-family: 'Montserrat', sans-serif;
    	transition: all 0.4s linear;
    	@media (max-width: 768px){
    		margin-top: 20px;
    	}
    	@media (max-width: 480px){
    		font-size: 1.4rem;
    		margin-top: 20px;
    	}
    }
    p{
    	font-size: 22px;
	    margin-top: 25px;
	    margin-bottom: 18px;
    }

	form{
		input{
			width: 235px;
		    margin-left: 6px;
		    margin-right: 6px;
		    display: inline-block;
		}
	}
	.form-group{
		display: inline-block;
		
		button {
			width: 235px;
			
			&.btn-primary {
				padding: 7.5px 16px !important;
				margin-top: -3px;
				margin-left: 6px;
				margin-right: 6px;
			}
		}
	}
	.play{
		color: #ccc;
    	font-size: 26px;
    	@media (max-width: 480px){
    		font-size: 19px;
    	}
    	&:hover{
    		text-decoration: none;
    		color: #fff;
    	}
	}
	.fa-play{
		background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
	    border: 3px solid #ccc;
	    border-radius: 50%;
	    padding: 10px 10px 10px 15px;
	    width: 50px;
	    margin-right: 12px;
	    &:hover{
	    	text-decoration: none;
	    	color: #fff;
	    }
	}
}

.text-logos{
	transition: all 0.4s linear;
	@media (max-width: 480px){
		    font-size: 17px;
    		line-height: 30px;
	}
}
.pull-right{
	float: right;
}
.logos-section{
	min-height: 100px;
	padding: 40px 0px 8px;
	text-align: center;
}
h5{
	font-family: "Montserrat",sans-serif;
    font-size: 23px;
    color: #fff;
}

.vertical-center{
  display: flex;
  align-items: center;
}

.bannerbox {
    font-family: "Montserrat",sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: -2px;
    text-align: center;
    @media (max-width: 991px){
    	font-size: 45px;
    }
    @media (max-width: 880px){
    	font-size: 40px;
    }
    @media (max-width: 768px){
    	font-size: 30px;
    }
    @media (max-width: 590px){
    	font-size: 25px;
    }
}
.h1-second{
	font-family: "Montserrat",sans-serif;
    font-size: 40px;
    letter-spacing: -2px;
    color: #ccc;
    transition: all 0.4s linear;
    @media (max-width: 480px){
    	font-size: 35px;
    }
}
.center{
	text-align: center;
	margin: 0 auto;
}
.grayBG{
	background-color: #292929;
	transition: all 0.4s linear;
	
	.row-logo {
		width: 100%;
		max-width: 840px;
		margin: 0 auto;
		
		.left-logo-holder {
			float: left;
			width: 100%;
			max-width: 420px;
		}
		
		.right-logo-holder {
			float: left;
			width: 100%;
			max-width: 420px;
		}
		
		a {
			padding: 25px 15px;
		}
		
		.logo-holder img {
			width: 100%;
			max-width: 125px;
			margin: 0 auto;
		}
	}
}
.inline{
	list-style: none;
	position: relative;
	padding: 0;
	margin: 0;
	li{
		display: inline-block;
		padding: 5px 15px;
		color: #eee !important;
	    font-family: "Montserrat",sans-serif !important;
	    font-size: 16px;
		a{
			&:hover{
				text-decoration:none;
			}
		}
		&.active{
			border-bottom: 5px solid orange;
		}
		&:hover{
			border-bottom: 5px solid orange;
		}
		@media (max-width: 550px){
			padding: 7px 5px;
		}
		@media (max-width: 480px){
			font-size: 14px;
			padding: 5px 5px;
		}
		@media (max-width: 374px){
			font-size: 12px;
			padding: 5px 3px;
		}
	}
	
	a {
		color: #CCCCCC;
	}
}
.triangulo_inf {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #292929;
    margin: 0 auto;
    margin-top: -10px;
    &.color2{
		border-top: 35px solid #f5f4f0;
    }
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}
.first-banner{
	margin-top: 59px;
	@media (max-width: 1024px){
		margin-top:50px;
	}
	@media (max-width: 900px){
		margin-top:40px;
	}
}
.add-bottomM-10{
	margin-bottom: 10px;
}
.add-bottomM-25{
	margin-bottom: 25px;
}
.add-topP-30{
	padding-top: 30px;
}

.add-bottomM-50{
	margin-bottom: 50px !important;
}

#sticky{
	z-index: 1;
}
.white-frange{
	padding: 0 0 100px;
	.triangulo_inf{
		margin-bottom: 80px;
	}
	&.for_form{
		padding: 0;
    	margin-bottom: -201px;
	}
}

.blue-frange{
	padding: 50px 20px 250px;
	background-color: #1999d6;
	text-align: center;
	color: #fff;
	h1{
    	font-family: inherit;
	    font-size: 65px;
	    font-weight: 700;
	    text-transform: uppercase;
	    margin-bottom: 0;
	    @media (max-width: 1024px ){
			font-size: 60px;
	    }
	    @media (max-width: 768px ){
			font-size: 50px;
	    }
	    @media (max-width: 480px ){
			font-size: 40px;
	    }
	    @media (max-width: 320px ){
			font-size: 30px;
	    }
    }
    
    h3 {
	    font-size: 23px;
	    font-weight: 700;
	    
	    a {
		    color: #FFFFFF;
		    text-decoration: underline;
	    }
    }
}

.started_form{
    text-align: center;
    width: 90%;
    max-width: 785px;
    margin: 0 auto;
    position: relative;
    top: -226px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 35px;
	
	input{
		background-color: #f5f4f0;
	    border: 1px solid transparent;
	    border-radius: 0;
	    color: #a7a9ac;
	    font-size: 20px;
	    font-weight: 700;
	    padding: 10px 15px;
	    width: 100%;
	    margin-bottom: 16px;
	}
	
	span{
		color: #808285;
    	font-size: 20px;
    	display: block;
    	margin: 10px 0;
	}
	button{
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
		border: 0;
		letter-spacing: normal;
		
		.btn-lg {
			-webkit-border-radius: 4px;
			   -moz-border-radius: 4px;
			        border-radius: 4px;
		}
		
		&.btn-primary {
			background: #1999d6;
			padding: 15px 50px;
			margin-top: 15px;
			
			&:hover {
				background-color: #1999d6;
			}
			
			&:focus {
				background-color: #1999d6;
			}
			
			&:active {
				background-color: #1999d6;
			}
			
			&:focus:active {
				background-color: #1999d6;
			}
			
			&:active:hover {
				background-color: #1999d6;
			}
		}
		
		&.btn-orange {
			background: #ff7e20;
			padding: 15px 50px;
			
			&:hover {
				background-color: #ff7e20;
			}
			
			&:focus {
				background-color: #ff7e20;
			}
			
			&:active {
				background-color: #ff7e20;
			}
			
			&:focus:active {
				background-color: #ff7e20;
			}
			
			&:active:hover {
				background-color: #ff7e20;
			}
		}
		@media (max-width: 480px){
			font-size: 15px;
    		font-weight: bold;
		}
	}
}
.btn{
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: -1.2px;
}
.btn-orange{
	background-color: #ff7e20;
	color: #ffffff;
	&:hover{
		background-color: #E6731F;
	}
}
.orange{
	border: 2px solid #7c7c7c;
    color: #222;
    &:hover{
    	background-color: #ff7e20;
    	color: #fff;
    	border: 2px solid #ff7e20;
    }
}
.btn-gray{
	background-color: #7c7c7c;
	color: #fff;
	&:hover{
		background-color: #6D6868;
	}
}
@import 'cstyles.scss';


footer{
	background-color: #333;
    color: #eee;
    text-align: center;
    padding: 51px 0 20px 0;
    @media (max-width: 991px){
    	.logo-text{
			float: none;
    		display: inline-block;
    	}
    	.logo{
    		float: none;
    		display: inline-block;
    	}
    }
    h5{
    	text-align: left;
	    padding-bottom: 10px;
	    padding-left: 15px;
	    color: #ccc;
	    @media (max-width: 991px){
			text-align: center;
		}
    }
    .cols{
    	section{
    		width: 19.5%;
    		float: left;
    		@media (max-width: 991px){
    			width: 33%;
    			text-align: center;
    			&:nth-child(4){
	    			width: 50%;
	    		}
	    		&:nth-child(5){
	    			width: 50%;
	    		}
    		}
    		@media (max-width: 600px){
    			width: 50%;
    			text-align: center;
    			&:last-child{
    				width: 100%;
    			}
    			&:nth-child(4){
	    			width: 50%;
	    		}
    		}
    		@media (max-width: 480px){
    			width: 100%;
    			text-align: center;
    			&:nth-child(4){
	    			width: 100%;
	    		}
    		}
    	}
    }
    ul {
	    text-align: left;
	    list-style: none;
	    padding-left: 15px;
	    padding-bottom: 15px;
	    @media (max-width: 991px){
			text-align: center;
		}
	    li{
	    	a{
	    		color: #eee;
	    		&:hover{
	    			color: #eee;
	    		}
	    	}
	    	.btn{
	    		min-width: 150px;
	    		text-align: center;
	    	}
	    }
	    &.color-text2{
	    	color: #5bc0de;
	    }
	}
}

.how-to{
	font-size: 0px !important;
	position: absolute;
	left: 0;
	&:hover{
		border-bottom: none !important;
	}
	&.stiked{
		font-size: 18px !important;
	}
	@media (max-width: 1023px){
		display:none !important;
	}
}